#navBar{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    background-color: rgb(147, 187, 255);
    font-size: 24px;
    height: 60px;
    align-items: center;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
}