#navBar{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(147, 187, 255);
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    position: sticky;
    top:0;
    height: 100px;
    

}
#navButton{
    display: none;
    margin-right: 40px;
}
#rightSection{
    display: flex;
    justify-content: flex-start;
}
#sideBar{
    width: 250px;
    position: sticky;
    top : 100px;
    height: calc(100vh - 100px);
    background-color: rgb(187, 212, 255);
    display: grid;
    font-size: 24px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    z-index: 100;

}
#appContainer{
    display: flex;

}

#eventsContainer{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-auto-rows: max-content;
    gap: 40px;
    margin-top: 40px;
    flex-grow: 1;
    justify-content: center;

}
#formContainer{
    font-size: 20px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
#formContainer form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#eventForm input{
    margin-left: 1px;
}

.eventCard{
    height: 200px;
    width: 240px;
    background-color: rgb(213, 213, 213);
    border-radius: 4px;
    padding: 18px;
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

@media (max-width:1600px){
    #eventsContainer{
        grid-template-columns: 280px 280px 280px;
    }
    
}

@media (max-width:1280px){
    #eventsContainer{
        grid-template-columns: 280px 280px;
        
    }
    #sideBar{
        display: none;
        position: fixed;
    }

    #navButton{
        display: block;
    }


}
@media (max-width:775px){
    #eventsContainer{
        grid-template-columns: 240px;
        
    }
    #navBar{
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .eventCard{
        width: 200px;

    }


    
}